# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
profilenv/

# Environment variables
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.pid

# Migrations (if using alembic)
alembic/versions/__pycache__/

# Coverage reports (optional)
htmlcov/
.coverage
.vercel
